<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Anton Lluis CALC{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <head>
            <title>Anton Lluis CALC</title>
        </head>
        <br>
        {% block body %}{% endblock %}
        <br>
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        {% block javascripts %}{% endblock %}
    </body>
</html>
