{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li><a href="{{ path('app_calculator_index') }}">Index</a></li>
    <li><a href="{{ path('app_calculator_showsum') }}">Sum</a></li>
    <li><a href="{{ path('app_calculator_showSubstract') }}">Subtract</a></li>
</ul>
{% endblock %}
